  html{
    height: 100%;


  }

canvas {
    display: block;
    margin: auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  body{
    background-color: rgb(189, 220, 234);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  
  

  .arrow{
    width: 160px;
    height: 160px;
    position: absolute;  /*  se base sur la taille de la page*/
    bottom:0px;
    right: 15px;  /* decalage par au cote droit de la page seulemt en position absolute */
  }
  
  h1{
    font-family: "Jersey 10";
    align-self: stretch;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
  }

  h2{
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
  }


  #next-div{
    height: 150px;

    justify-content: end;
    width: 100%;
    display: flex;
    align-items: end;
    align-self: flex-end;
    position: absolute;
    bottom:64px;


  }

  #next-btn{
    border: 8px solid var(--pink-medium, #FFABCF);
    background: var(--pink-dark, #7F1E65);
    color: var(--pink-light, var(--pink-light, #FFF5FE));

  font-family: "Jersey 10";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
  display: inline-flex;
  padding: 0px 10px 0px 16px;

  gap: 8px;
  display: flex;
  align-items: center;
  height: 80px;
  margin-right: 32px;
  opacity: 0.5;
 
  

  }

  #arrow-right{
    width: 64px;
    height: auto;
  }


   /* ajouter bouton next et back */