canvas {
    display: block;
    margin: auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  body{
    background-color: rgb(189, 220, 234);
    text-align: center;
  }