body{
    background-color: #FFF5FE;
    text-align: center;
}

h1{
    align-self: stretch;
    color: var(--purple, #7F1E65);
    text-align: center;
    font-family: "Jersey 10";
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
  }
  
  h2{
    color: var(--purple, #7F1E65);
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
  
  }

  #test{
    display: inline-flex;
    align-items: flex-start;
    gap: 33px;
  }

.original{
    background-image: url('../images/original.gif'); 
    background-size: cover; 
    border: none;
    border-radius: 5px;
    cursor:pointer;
    width: 1200px;
    height: 155px;
    scale:50%;
}

.pink{
    background-image: url('../images/pink.gif'); 
    background-size: cover; 
    border: none;
    border-radius: 5px;
    cursor:pointer;
    width: 1200px;
    height: 155px;
    scale:50%;
}

.blue{
    background-image: url('../images/blue.gif'); 
    background-size: cover; 
    border: none;
    border-radius: 5px;
    cursor:pointer;
    width: 1200px;
    height: 155px;
    scale:50%;
}

.random{
    background-image: url('../images/random.gif'); 
    background-size: cover; 
    border: none;
    border-radius: 5px;
    cursor:pointer;
    width: 1200px;
    height: 155px;
    scale:50%;
}

/*.choix{ }*/

