body{
    background-color: #FFF5FE;
    text-align: center;
    
}

h1{
    align-self: stretch;
    color: var(--purple, #7F1E65);
    text-align: center;
    font-family: "Jersey 10";
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
  }
  
  h2{
    color: var(--purple, #7F1E65);
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
  
  }

  #test{
    display: inline-flex;
    align-items: flex-start;
    gap: 33px;
  }





/*.choix{ }*/

