body{
    background-color: rgb(183, 192, 198);
    text-align: center;
}

.original{
    background-image: url('../images/original.gif'); 
    background-size: cover; 
    border: none;
    border-radius: 5px;
    cursor:pointer;
    width: 1200px;
    height: 155px;
    scale:50%;
}

.pink{
    background-image: url('../images/pink.gif'); 
    background-size: cover; 
    border: none;
    border-radius: 5px;
    cursor:pointer;
    width: 1200px;
    height: 155px;
    scale:50%;
}

.blue{
    background-image: url('../images/blue.gif'); 
    background-size: cover; 
    border: none;
    border-radius: 5px;
    cursor:pointer;
    width: 1200px;
    height: 155px;
    scale:50%;
}

.random{
    background-image: url('../images/random.gif'); 
    background-size: cover; 
    border: none;
    border-radius: 5px;
    cursor:pointer;
    width: 1200px;
    height: 155px;
    scale:50%;
}

.choix{

}