body{

   
    background: var(--pink-light, #FFF5FE);
}

#booba{
  width: 151px;
  height: 264px;
}

h1{
  align-self: stretch;
  color: var(--purple, #7F1E65);
  text-align: center;
  font-family: "Jersey 10";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2{
  color: var(--purple, #7F1E65);
  text-align: center;
  font-family: "Fira Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#start{
  display: flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 8px solid var(--pink, #FFABCF);
  background: var(--purple, #7F1E65);
}
