body{
    text-align: center;
    background-color: rgb(255, 144, 222);
}

h1{
  font-size: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.click{
  width: 400px;
  height: 100px;
  font-family: monospace;
  margin: 0 auto;
}

.etouffement{
  width: 350px ;
  position:absolute;
  right:10px;
  bottom:4px;
}

.boba{
  position:absolute;
  left:10px;
  bottom:300px;
  width: 250px;
}

