html{
  height: 100%;
}

body{

   
    background: var(--pink-light, #FFF5FE);

    height: 100%;
    padding: 0;
    margin: 0;

}

#booba{
  width: 151px;
  height: 264px;
}

h1{
  align-self: stretch;
  color: var(--purple, #7F1E65);
  text-align: center;
  font-family: "Jersey 10";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h2{
  color: var(--purple, #7F1E65);
  text-align: center;
  font-family: monospace;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;

}

#start{
  padding: 16px 56px;
  border: 8px solid var(--pink, #FFABCF);
  background: var(--purple, #7F1E65);
  color: #FFF5FE;
  font-family: "Jersey 10", sans-serif;
  font-size:30px;
  margin-top: 20px;
  
  
}

#un{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#deux{
  flex-direction: column;
  padding: 70px;
  
  
  
}

#trois{
  text-align: center;
  flex-grow:1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
}

#quatre{
  flex-direction: column;
  padding: 70px;
  padding-top: 50px;
  
  
  
  align-content:start;
  justify-content: space-between;
  display: flex;

  text-align: right;



}

#texte{
  display: flex;
  flex-direction: column;
  gap:5px;

}

#star1{
  
  width: 80px;
  height:auto;
  
}

#star2{
  
  width: 80px;
  height:auto;
  align-self: end;

  
}

#connect{
  

  border: 6.656px solid var(--pink-dark, #7F1E65);
  background: var(--pink-medium, #FFABCF);
  font-family: "Jersey 10", sans-serif;

  padding: 8px 16px;
 
  
  font-size:40px;
  margin-top: 20px;
  display: flex;
  gap:20px;
  
 
}

#user{
  width: 40px;
  height: auto;
 
}
