body {
  text-align: center;
  background-color: rgb(228, 233, 235);
}

html {
  height: 100%;
}

h1 {
  font-family: "Jersey 10";
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 130px;
  text-align: center;
  font-family: monospace;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin-top: 0;
}

.strawImage {
  height: 430px;
  position: absolute;
  left: 50%;
  bottom: 44px;
}

.global {
  margin: auto;
  position: relative;
}

.frame {
  position: absolute;
  bottom: -105px;
  width: 760px;
  left: calc(50% - 374px);
}

#bubbleTeaName {
  position: absolute;
  left: calc(50% - 90px);
  font-family: "Jersey 10";
  font-size: 48px;
  width: 10ch;
  word-wrap: anywhere;
  bottom: -145px;
}
