body {
  text-align: center;
  background-color: rgb(189, 220, 234);
}

html {
  height: 100%;
}

h1 {
  font-family: "Jersey 10";
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 90px;
  text-align: center;
  font-family: monospace;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin-top: 0;
}

.step3 {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 80px;
  img {
    z-index: 2;
    cursor: pointer;
  }
}

.straws {
  position: relative;
}

.yellow-straw {
  height: 430px;
  position: absolute;
  top: -66px;
  visibility: hidden;
}

.pink-straw {
  height: 430px;
  position: absolute;
  top: -66px;
  visibility: hidden;
}

.blue-straw {
  height: 430px;
  position: absolute;
  top: -66px;
  visibility: hidden;
}

.random-straw {
  height: 430px;
  position: absolute;
  top: -66px;
  visibility: hidden;
}

#next-div {
  height: 150px;
  justify-content: end;
  width: 100%;
  display: flex;
  align-items: end;
  align-self: flex-end;
  position: absolute;
  bottom: 64px;
}

#next-btn {
  border: 8px solid var(--pink-medium, #ffabcf);
  background: var(--pink-dark, #7f1e65);
  color: var(--pink-light, var(--pink-light, #fff5fe));
  font-family: "Jersey 10";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
  display: inline-flex;
  padding: 0px 10px 0px 16px;
  gap: 8px;
  display: flex;
  align-items: center;
  height: 80px;
  margin-right: 32px;
}

#arrow-right {
  width: 64px;
  height: auto;
}
