body {
  text-align: center;
  background-color: rgb(228, 233, 235);
}

html {
  height: 100%;
}

h1 {
  font-family: "Jersey 10";
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 130px;
  text-align: center;
  font-family: monospace;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin-top: 0;
}

.strawImage {
  height: 430px;
  position: absolute;
  left: 50%;
  bottom: 44px;
}

#next-div {
  height: 150px;
  justify-content: end;
  width: 100%;
  display: flex;
  align-items: end;
  align-self: flex-end;
  position: absolute;
  bottom: 64px;
}

#next-btn {
  border: 8px solid var(--pink-medium, #ffabcf);
  background: var(--pink-dark, #7f1e65);
  color: var(--pink-light, var(--pink-light, #fff5fe));
  font-family: "Jersey 10";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
  display: inline-flex;
  padding: 0px 10px 0px 16px;
  gap: 8px;
  display: flex;
  align-items: center;
  height: 80px;
  margin-right: 32px;
  opacity: 0.5;
}

#arrow-right {
  width: 64px;
  height: auto;
}

.global {
  margin: auto;
  position: relative;
}

.arrow-frame-left {
  position: absolute;
  top: 50%;
  left: calc(50% - 460px);
}

.arrow-frame-right {
  position: absolute;
  top: 50%;
  right: calc(50% - 474px);
}

.frame {
  position: absolute;
  bottom: -105px;
  width: 760px;
  left: calc(50% - 374px);
}

#bubbleTeaName {
  position: absolute;
  left: calc(50% - 90px);
  font-family: "Jersey 10";
  font-size: 48px;
  width: 10ch;
  word-wrap: anywhere;
  bottom: -145px;
}
