html {
  height: 100%;
}

body {
  background-color: #fff5fe;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

h1 {
  align-self: stretch;
  color: var(--purple, #7f1e65);
  text-align: center;
  font-family: "Jersey 10";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--purple, #7f1e65);
  text-align: center;
  font-family: monospace;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

label {
  color: #7f1e65;
  font-family: "Jersey 10";
  font-size: 35px;
}

.InputContainer {
  border: 5px solid #7f1e65;
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

input {
  border: none;
  outline: none;
  background: transparent;
  color: #7f1e65;
  font-family: "Jersey 10";
  font-size: 35px;
  /*text-align: center;*/
}

.allContainers {
  margin-top: 100px;
}

#connect-div {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 64px;
  margin: 0 auto;
}

#connect-btn {
  border: 8px solid var(--pink-medium, #ffabcf);
  background: var(--pink-dark, #7f1e65);
  color: var(--pink-light, var(--pink-light, #fff5fe));
  font-family: "Jersey 10";
  font-size: 48px;
  letter-spacing: 0.96px;
  padding: 0px 10px 0px 16px;
  gap: 8px;
  display: flex;
  align-items: center;
  height: 80px;
  margin-top: 20px;
}

#arrow-right {
  width: 64px;
  height: auto;
}

.imgContainer {
  position: relative;
}

.melody {
  height: 190px;
  position: absolute;
  left: 70px;
}
